<!doctype html>
<html>
<head>
  <title>Todo List Again and Again!</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- data-main will be root of our require files -->
  <script data-main="js/main" src="js/libs/require/require.js"></script>
</head> 
<body>

  <div class="container" id="container">
    <h2>What do you need to do?</h2>
    <input id="new-todo" placeholder="What needs to be done?"></input>
    <button class="btn btn-info new-todo">Add</button>
    <hr>
    
    <div id="output">
    </div>

    <script type="text/template" id="item-template">
      <div class="view <%= status %> col-md-2">
        <input type=checkbox id="checkbox" <% if(status === "complete") print("checked") %>>
        <h4><%= description %></h4>
        <input class="edit" placeholder="<%= description %>">
        <button class="edit btn-info">update</button>
        <button class="destroy btn-danger">remove</button>
      </div>
    </script>

    
  </div>




</body>
</html>
